<div class="authenticate-container">
    <div class="bg-content">
      <div class="logo">
        <img src="../../assets/images/logo-ang.png" width="50" alt="Logo Mean Project"> Mean Project
      </div>
    </div>
    <div class="form-content">
      <div class="auth-form">
          <h3>Login</h3> <br>
          <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  formControlName="email"
                  placeholder="Email"
                  required
                >
                <div class="invalid-feedback" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
                  Please enter a valid email.
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  formControlName="password"
                  required
                >
                <div class="invalid-feedback" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                  Please enter a valid password, no special character is allow only alphanumeric.
                </div>
              </div>
              <button type="submit" class="btn btn-base">Submit</button>
              <div class="account">
                <a routerLink="/signup">Don't have an account ?</a>
              </div>
          </form> <br>
          <flash-messages></flash-messages>
      </div>
    </div>
  </div>
