.logout { cursor: pointer; }
.custom-navbar {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-bottom: 1px solid #dee2e6 !important; 
    z-index: 99;
    background: #fff;
    .navbar-brand img {
        width: 40px;
        vertical-align: middle;
    }
}
