<nav class="navbar navbar-expand-md custom-navbar fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./../../assets/images/logo-ang.png" alt="Logo"> Mean Project
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link logout" (click)="onLogoutClick()">Se déconnecter</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()" routerLinkActive="active">
        <a class="nav-link logout" routerLink="/profile">Profile</a>
      </li>
    </ul> -->
    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div class="ml-auto pr-3 user-div" *ngIf="authService.isAuthenticated()">
      <div class="user-image" (click)="onClickActive()">
        <img class="circle-img" src="../../assets/images/user.jpg" alt="User">
      </div>
      <div class="user-panel" *ngIf="display">
        <ul>
          <li>
            <a href="javascript:void(0);" routerLink="/profile">
              <i class="fa fa-user" aria-hidden="true"></i> Profil
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
                <i class="fa fa-pencil" aria-hidden="true"></i> Modifier le profil
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="onLogoutClick()">
                <i class="fa fa-power-off" aria-hidden="true"></i> Se déconnecter
            </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
