$gray-base: #ede9e9 !default;
$gray-normal: #868e96 !default;
$black-light: #121719 !default;
$blue-base: #0a3d62 !default; 

.text-base { color: $blue-base; }
.form-post { 
    margin-top: 30px;
    .header-action { 
        padding: 0 !important; 
        background-color: #fff !important;
    }
    .post-submit-btn {
        padding: 0.75rem 1.25rem;
        border-right: 2px solid #ede9e9;
        color: gray; 
        font-weight: 600;
        &:last-child { border: 2px solid transparent; }
        .fa-edit { color: #0a3d62; }
        .fa-photo { color: green;}
        .fa-video-camera { color: red; }
    }
}
.fa-edit { color: #0a3d62; }
.fa-photo { color: green;}
.fa-video-camera { color: red; }

figure .circle-img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}
.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}
.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.image-preview {
  width: 450px;
  height: auto;
  img { max-width: 100%; }
}

.more {
  cursor: pointer;
}

.load-more.no-posts {
    display: flex;
    justify-content: center;
}

.btn-transparent {
    background: transparent; 
    border:0; 
    font-weight: 500;
    color: $gray-normal; 
}
.full-width {
    width: 100%;
    border: 0;
    resize: none;
    padding: 10px; 
    border-bottom: 1px solid $gray-base;
}

.btn-base {
    background: $blue-base;
    border: 1px solid $blue-base;
    color: white; 
    display: inline-block;
}
.image-preview, .video-preview { margin: 15px 0;}
.header-card-left {
    display: flex; 
    figure { margin-right: 20px;}
    .name-author {
        p { margin: 2px; }
        .author { color: $blue-base; font-weight: 700;}
        .date { 
            color: $gray-normal; 
            font-size: 0.8em;
        }
    }
}
.more { 
    text-align: right; 
    .dropdown-toggle::after { display: none !important; }
}
.action-post {
    border-top: 1px solid $gray-base;
    display: flex; 
    justify-content: space-between; 
    padding: 10px 15px; 
    font-weight: 500;
    div { cursor: pointer; }
}
.reaction-number{
    border-top: 1px solid $gray-base;
    padding: 10px 15px; 
    display: flex;
    justify-content: space-between;
}
.comment-post {
    border-top: 1px solid $gray-base;
    padding: 10px 20px; 
    display: flex; 
    form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        figure { 
            margin-right: 15px;
            margin-bottom: 0;
        }
    }
    textarea {
        border: 0;
        width: 100%; 
        resize: none; 
        padding: 10px 15px; 
        background: $gray-base;
        border-radius: 20px;
    }
}
.single-comment .item-comment, .single-comment .edit-form form {
    display: flex;
    padding: 15px 20px; 
}
.edit-form form {
    figure {
        margin-right: 15px;
        margin-bottom: 0;
    }
    textarea {
        width: 100%;
        border-radius: 20px; 
        resize: none;
        padding: 10px 15px; 
        background: $gray-base;
        border: 1px solid $gray-base; 
    }
}
.comment-content {
    background: #ede9e9;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    position: relative;
    .more {
        position: absolute;
        top: 10px;
        right: 0;
    }
}
.video-responsive {
    width: 100%;   
}
.hidden { display: none !important; }