<app-navbar></app-navbar>
<div class="container main-content">
  <div class="row">
    <div class="col-lg-8">
      <div class="central-meta">
        <div class="new-postbox">
      <figure>
        <img class="circle-img" src="../../assets/images/user.jpg" alt="User">
      </figure>
      <div class="newpst-input">
        <form method="post" [formGroup]="postForm" (ngSubmit)="postStatus()">
          <textarea
            name="body"
            rows="2"
            placeholder="write something"
            formControlName="content"
            required>
          </textarea>
          <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && postForm.get('image').value ">
              <img [src]="imagePreview" alt="postForm.value.content">
          </div>
          <div class="attachments">
            <ul>
              <li>
                <i class="fa fa-music"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onMusicUpload($event)" name="music">
                </label>
              </li>
              <li>
                <i class="fa fa-image"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onImageUpload($event)" name="image">
                </label>
              </li>
              <li>
                <i class="fa fa-video-camera"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onVideoUpload($event)" name="video">
                </label>
              </li>
              <li>
                <i class="fa fa-camera"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onFileUpload($event)" name="file">
                </label>
              </li>
              <li>
                <button type="submit" class="btn btn-outline-primary">Post</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
        </div>
      </div>
      <div class="load-more">
        <div class="central-meta item" style="display: inline-block;" *ngFor="let post of posts">
            <div class="user-post">
              <div class="friend-info">
                <figure>
                    <img class="circle-img" src="../../assets/images/user.jpg" alt="User">
                </figure>
                <div class="friend-name">
                  <ins><a routerLink="/profile">{{ post._creator.username }}</a></ins>
                  <span>published: {{ post.created | date:'medium' }}</span>
                </div>
                <div class="post-meta">
                  <div class="description">
                    {{ post.content }}
                  </div>
                  <img *ngIf="post.media" src="{{ post.media }}" alt="Post image">
                  <div class="we-video-info">
                    <ul>
                      <li>
                        <span class="like" data-toggle="tooltip" data-placement="top" title="like" (click)="like(post)">
                          <i class="fa fa-heart-o"></i>
                          <ins>{{ post.likes }}</ins>
                        </span>
                      </li>
                      <li>
                        <span class="dislike" data-toggle="tooltip" data-placement="top" title="Dislike" (click)="dislike(post)">
                          <i class="fa fa fa-heartbeat"></i>
                          <ins>{{ post.dislikes }}</ins>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <flash-messages></flash-messages>
    </div>
  </div>
</div>


