<app-navbar></app-navbar>
<div class="container main-content">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="central-meta">
        <div class="new-postbox">
      <figure>
        <img class="circle-img" src="../../assets/images/user.jpg" alt="User">
      </figure>
      <div class="newpst-input">
        <form method="post" [formGroup]="postForm" (ngSubmit)="postStatus()" enctype="multipart/form-data">
          <textarea
            name="body"
            rows="2"
            placeholder="write something"
            formControlName="content"
            required>
          </textarea>
          <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && postForm.get('image').value ">
              <img [src]="imagePreview" alt="postForm.value.content">
          </div>
          <div class="attachments">
            <ul>
              <li>
                <i class="fa fa-music"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onMusicUpload($event)" name="music">
                </label>
              </li>
              <li>
                <i class="fa fa-image"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onImageUpload($event)" name="image">
                </label>
              </li>
              <li>
                <i class="fa fa-video-camera"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onVideoUpload($event)" name="video">
                </label>
              </li>
              <li>
                <i class="fa fa-camera"></i>
                <label class="fileContainer">
                  <input type="file" (change)="onFileUpload($event)" name="file">
                </label>
              </li>
              <li>
                <button type="submit" class="btn btn-outline-primary">Post</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
        </div>
      </div>
      <div class="load-more" *ngIf="posts.length > 0">
        <div class="central-meta item" style="display: inline-block;" *ngFor="let post of posts">
            <div class="user-post">
              <div class="friend-info">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <figure class="col-12 col-sm-2">
                        <img class="circle-img" src="../../assets/images/user.jpg" alt="User">
                      </figure>
                      <div class="friend-name col-12 col-sm-8">
                        <a class="username" routerLink="/profile">{{ post._creator.username }}</a>
                        <span>published: {{ post.created | date:'medium' }}</span>
                      </div>
                      <div class="more dropdown col-12 col-sm-2" *ngIf="user.username == post._creator.username">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="editPost(post)">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);" (click)="removePost(post)">
                            <i class="fa fa-trash" aria-hidden="true"></i> Remove
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="post-meta">
                  <div class="description">
                    {{ post.content }}
                  </div>
                  <div class="media-container" *ngIf="post.media">
                    <img src="{{ post.media }}" alt="Post image">
                  </div>
                  <div class="we-video-info">
                    <ul>
                      <li>
                        <span class="like" data-toggle="tooltip" data-placement="top" title="like" (click)="like(post)">
                          <i class="fa fa-heart-o"></i>
                          <ins>{{ post.likes }}</ins>
                        </span>
                      </li>
                      <li>
                        <span class="dislike" data-toggle="tooltip" data-placement="top" title="Dislike" (click)="dislike(post)">
                          <i class="fa fa fa-heartbeat"></i>
                          <ins>{{ post.dislikes }}</ins>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="load-more no-posts" *ngIf="posts && posts.length <= 0">
        <h4>No posts Added!</h4>
      </div>
    </div>
    <div class="col-lg-4">
        <flash-messages></flash-messages>
    </div>
  </div>
</div>


